body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container{
    display: flex;
    flex-direction: column;
}

/* header */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 20px;
    align-items: center;
    }

.header-logo img{
    width: 90px;
    height: 90px;
    margin-right: auto;
    background-color: #1F2937;

}

.header-link{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    font-family: 'Roboto', arial;

}

.header-link a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.header-link a:hover {
    background-color:#d4d4d479;
    border-radius: 8px;


}

/* main container */

.main {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.main-text {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    
}

.main-text p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #E5E7EB;
    margin: 0;
    font-family: 'Roboto',arial;
}

.main button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}
.main button:hover{
    background-color:#d4d4d479;
    border-radius: 8px;
}


.main-img img {
    width: 500px;
    height: 450px;
}

.box-content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}


/* Box sign up */ 

.box-quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}

.box-quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto',arial;
}

.box-quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.sign-up{
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item{
    flex: 1;
}

.sign-text {
    text-align: left;
}

.sign-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button{
    color: #fff;
    font-family: 'Roboto',Arial;
    border-color: #fff;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 5px 15px;
    font-size: 16px;
}

/* Footer */
.box-footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}